<div class="container-fluid bg-dark mt-sm-5">
    <div class="container" style="height: min-content;">
        <div class="row pt-3">
            <div class="col-12 col-sm-2"><a href=/index.html>   <p class="text-white fs-2 text-center text-sm-start">Home</p></a></div>
            <div class="col-12 col-sm-2"><a href=/about.html>   <p class="text-white fs-2 text-center">About</p></a></div>
            <div class="col-12 col-sm-3"><a href=/catalog.html> <p class="text-white fs-2 text-center">Catalogue</p></a></div>
            <div class="col-12 col-sm-2"><a href=/news.html>    <p class="text-white fs-2 text-center text-sm-end">News</p></a></div>
            <div class="col-12 col-sm-3"><a href=/contact.html> <p class="text-white fs-2 text-center text-sm-end">Contact</p></a></div>
        </div>
    </div>
</div>
