@media only screen and (max-width: 991px) {
    #navbarSupportedContent {
        margin-top: 5pc;
        /* same as fixed top */
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }
}

body>div {
    height: 44%;
}

.pre-animate {
    height: 100%;
}

.pre-animate>div>img {
    padding: 1em;
    height: 6em;
}

.post-animate {
    overflow: hidden;
    position: relative;
}

.post-animate>div {
    height: 50%;
    position: absolute;
    animation: scroll-left 15s linear infinite;
}

@keyframes scroll-left {
    from {
        transform: translateX(0%);
    }

    to {
        transform: translateX(-50%);
    }
}